<h1><%= @doctor.name%> Info</h1>

<div id='dr-info'>
  <p id='dr-name'>Name: <%= @doctor.name%> </p>
  <p id='dr-specialty'>Specialty: <%= @doctor.specialty%> </p>
  <p id='dr-uni'>Alma Mater: <%= @doctor.university%> </p>
</div>

<p id='dr-hospital'>Current Hospital: <%= @doctor.hospital.name%> </p>

<h3>Patients:</h3>
<ul id='patients-list'>
  <%@doctor.patients.each do |patient|%>
    <li>Name: <%=patient.name%> - <%=patient.age%> years old</li>
  <%end%>
</ul>